:root{
    --bg-color: rgb(204, 31, 31);
}

.dark-mode{
    background: #212529!important;
    color: #f8f9fa!important;
}
.light-mode{
    background: #f8f9fa!important;
    color: #212529!important;
}
#demo{
    display: none!important;
}
.cat-opt{
    width: 100%;
    margin: 1px 5px 0 5px;
}
.logo{
    width: 12em;
    margin-left: 8px;
}

.navbar-brand>img{
    height: 70px;
}

.fa-search{
    color: black;
}

.input-group{
    margin-left: 19%;
}

.container 
{
    height: 100%;
    width:100%;

    background-size: cover;
    background-repeat:no-repeat;    
}
.container-box
{
    display:inline-block; 
    padding:10px; 
    background: rgba(255, 255, 255, .8);
    border: 1px solid #fff; 
    position: fixed;
    top: 55%;
    left: 0;
}

.modal-content
{
    background: rgba(255, 255, 255, .7);    
}

.rotated
{
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform-origin: top left;  
}

.botones{
    float: right;
}

.modal-header .close{
    padding:0;
    margin:0;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

@media (max-width: 992px){
  .mobileMenu{
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 95px;
    right: -200%;
    text-align: center;
  }
}